div{
    background-color:red
}
h1{
    color: seagreen;
}
hr{
    color: slategrey;
}
p{
    color: maroon;
    height: 580;
    width: 100;
}

body{
    background-color: red;
}

.exterior{
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
}

.interior{
    background-color: lightcoral;
    height: 50px;
    padding: 10px;
    margin: 20px;
}

/* interiores heigt 40px, pero que el alto total sea de 90px */
/* exterior que este alejado de los elementos interiores, en total, 10px,
y que tenga un padding de 6px */

.interior2{
    background-color: blue;
    height: 40px;
    margin: 4px;
    padding: 25px;
}

.exterior2{
    background-color: green;
    padding: 6px;
}