*{    
    font-size: 14px;
    font-family: "Arial";
    height: 2000px;
  }
  
  .box {
    height: 200px;
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
  }

  .fixed {
    position: fixed;
    background-color: orange;
    top: 50px;
    left: 80px;
    bottom: 400px;
  }

  .relative {
    position: relative;
    height: 350px;
    width: 450px;
    background-color: green;
    top: 0px;
    left: 0px;
  }
  
  .absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    background-color: plum;
  }